<form>
  <div class="main">
    <div class="header" *ngFor="let item of Root">
      <div class="left-divider">
        <p>Employee Work Flow : {{ item.month }}</p>
        <p>Division : {{ item.divisionName }}</p>
        <p>Epf NO : {{ item.epfNumber }}</p>
        <p>Name :{{ item.employeeName }}</p>
      </div>
      <div class="middle-divider">
        <p>Basic Salary : {{ item.basicSalary | number : "1.2-2" }}</p>
        <p>Service Year : {{ item.serviceYear }}</p>
        <p>Extra Piecerate {{ item.extraPiecerateSalary }}</p>
        <p>Extra Piecerate :{{ item.extraPieceRatePercentage }}%</p>
        <p>Hourly Rate :{{ item.rate }}</p>
        <p>Max Hourly Wage :{{ item.workflow }}</p>
      </div>

      <div class="right-divider">
        <p>Piecerate Hours : {{ item.workflow }}</p>
        <p>Normal Hours : {{ item.workflow }}</p>
        <p>Total Hours : {{ item.workflow }}</p>
        <p>Piecerate Salary :{{ item.workflow }}</p>
        <p>Maximum Piecerate Value :{{ item.workflow }}</p>
      </div>
    </div>
    <div class="second-container">
      <table>
        <thead>
          <tr>
            <th>Total Earnings</th>
            <th>Total Piecerate(A)</th>
            <th>Total Dailypay B = (K+G+H)</th>
            <th>Effiency (Loss)</th>
            <th>In Date & Time</th>
            <th>Out Date & Time</th>
            <th>Shift</th>
            <th>Section</th>
            <th>O/T (H)</th>
            <th>Acvity</th>
            <th>Op Hp</th>
            <th>Qty Per Emp (D)</th>
            <th>Rate (E)</th>
            <th>Piecerate Amount : F=(DxE)</th>
            <th>Rate-N (E)</th>
            <th>Piecerate AmountN : F=(DxE)</th>
          </tr>
        </thead>

        <ng-container>
          <tbody *ngFor="let workflow of Root">
            <!-- Iterate over dailySums -->
            <ng-container *ngFor="let dailySum of workflow.dailySums">
              <tr>
               
                <td [attr.rowspan]="dailySum.timePortionSums.length || 2">
                  {{ dailySum.sumPieceRate | number: "1.2-2" }}
                </td>
                <td [attr.rowspan]="dailySum.timePortionSums.length || 2">
                  {{ dailySum.sumPieceRate | number: "1.2-2" }}
                </td>
                <td [attr.rowspan]="dailySum.timePortionSums.length || 2">
                  {{ dailySum.sumDailyPay | number: "1.2-2" }}
                </td>
                <td [attr.rowspan]="dailySum.timePortionSums.length || 1">
                  {{ dailySum.sumDifference | number: "1.2-2" }}
                </td>
                
            
          
                
                <ng-container *ngIf="dailySum.timePortionSums.length > 0">
                  <td>
                    {{ dailySum.timePortionSums[0].inDate | date: "d HH:mm" }}
                  </td>
                  <td>
                    {{ dailySum.timePortionSums[0].outDate | date: "d HH:mm" }}
                  </td>
                  <td>
                    {{ dailySum.timePortionSums[0].shiftName }}
                  </td>
                  <td>
                    {{ dailySum.timePortionSums[0].sectionName }}
                  </td>
                  <td>
                    {{ dailySum.timePortionSums[0].overTimeAmount | number: "1.2-2" }}
                  </td>
                  <td>
                    {{ dailySum.timePortionSums[0].activityName | number: "1.2-2" }}
                  </td>
                  
                </ng-container>
              </tr>
          
            
              <tr *ngFor="let timePortions of dailySum.timePortionSums.slice(1)">
                <td>
                  {{ timePortions.inDate | date: "d HH:mm" }}
                </td>
                <td>
                  {{ timePortions.outDate | date: "d HH:mm" }}
                </td>
                <td>
                  {{ timePortions.shiftName }}
                </td>
                <td>
                  {{ timePortions.sectionName }}
                </td>
                <td>
                  {{ timePortions.overTimeAmount | number: "1.2-2" }}
                </td>
              </tr>
              
            </ng-container>
          </tbody>
          
          
        </ng-container>
      </table>
    </div>
  </div>
</form>
