<form>
  <div class="main">
    <div class="header" *ngFor="let item of Root">
      <div class="left-divider">
        <p>Employee Work Flow : {{ item.month }}</p>
        <p>Division : {{ item.divisionName }}</p>
        <p>Epf NO : {{ item.epfNumber }}</p>
        <p>Name :{{ item.employeeName }}</p>
      </div>
      <div class="middle-divider">
        <p>Basic Salary : {{ item.basicSalary }}</p>
        <p>Service Year : {{ item.serviceYear }}</p>
        <p>Extra Piecerate {{ item.extraPiecerateSalary }}</p>
        <p>Extra Piecerate :{{ item.extraPieceRatePercentage }}%</p>
        <p>Hourly Rate :{{ item.rate }}</p>
        <p>Max Hourly Wage :{{ item.workflow }}</p>
      </div>

      <div class="right-divider">
        <p>Piecerate Hours : {{ item.workflow }}</p>
        <p>Normal Hours : {{ item.workflow }}</p>
        <p>Total Hours : {{ item.workflow }}</p>
        <p>Piecerate Salary :{{ item.workflow }}</p>
        <p>Maximum Piecerate Value :{{ item.workflow }}</p>
      </div>
    </div>
    <div class="second-container">
      <form action="">
        <table style="width: 150%">
          <thead>
            <tr>
              <th>Total Earnings</th>
              <th>Total Piecerate(A)</th>
              <th>Total Dailypay B = (K+G+H)</th>
              <th>Effiency (Loss)</th>
              <th colspan="2">In Date & Time</th>
              <th colspan="2">Out Date & Time</th>
              <th>Shift</th>
              <th>Section</th>
              <th rowspan="3">O/T (H)</th>
              <th>Acvity</th>
              <th>Op Hp</th>
              <th>Qty Per Emp (D)</th>
              <th>Rate (E)</th>
              <th>Piecerate Amount : F=(DxE)</th>
              <th>Rate-N (E)</th>
              <th>Piecerate AmountN : F=(DxE)</th>
            </tr>
          </thead>

          <ng-container>
            <tbody *ngFor="let date of Root">
              <tr>
                <td>{{ acvity }}</td>
                <td>{{ acvity }}</td>
                <td>{{ acvity }}</td>
                <td>{{ acvity }}</td>
                <td>{{ acvity }}</td>
                <td>{{ acvity }}</td>
                <td>{{ acvity }}</td>
                <td>{{ acvity }}</td>
                <td>a</td>
              </tr>
              <tr>
                <td colspan="2">English</td>
                <td rowspan="2">testing</td>
                <td>2</td>
              </tr>
            </tbody>
          </ng-container>
        </table>
      </form>
    </div>
  </div>
</form>
<table>
  <thead>
    <th>namae</th>
    <th>namae</th>

  </thead>
  <tbody>
    <tr>
      <td rowspan="2">ABCDEFGHIJKLMNOPQRST</td>
      <td>2</td>
    </tr>

    <tr>
      <td>ABCDEFGHIJKLMNT</td>
    </tr>
  </tbody>
</table>
